/* animation for the welcome message */

@keyframes fade-in {
  0% {opacity: 0;}
  100%{opacity: 1;}
}

h5 {
  animation: fade-in .5s;
}

/* had to reduce thead element size to make it fit on mobile/tablet devices, had to add custom margin
to the delete button because it would not align properly on mobile devices using bootstrap margins. */
.btn-delete  {
  margin-left: 2%;
}

@media(max-width:768px) {
  thead {
    font-size: 11px;
  }
}

@media(max-width:515px) {
  .btn-delete {
    margin-top: 4%;
    margin-left: 0%;
  }
}
